a {
    font-size: 17px;
    font-weight: 600;
}

.primary {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    position: relative;
}

.primary img {
    box-shadow: 10px 10px 400px #F3CAC6;
    border-radius: 3.5px;
    position: relative;
    z-index: 1;
}
.primary_top_h3 {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 52.5%;
    left: 10.5%;
    z-index: 2;
    transform: rotate(-90deg);
}

.primary_bottom_h3 {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 52.5%;
    left: 62.3%;
    z-index: 2;
    transform: rotate(90deg); 
}

.primary_h3 {
    font-weight: 300;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5%;
    letter-spacing: 7px;
}

.primary h3 {
    font-weight: 300;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5%;
}

.secondary {
    width: 100%;
    margin-top: 5%;
}

.secondary .container {
    text-align: center
}

.title h3 {
    text-align: center;
    margin-top: 15%;
    color: rgba(0, 0, 0, 0.5); 
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6.33px;
}

.col h3, p {
    margin-top: 20%;
    text-align: center;
}

.col_h3 {
    color: rgba(243, 180, 198, 0.8);
    font-weight: 600;
    letter-spacing: 7px;
}

.col_p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 4%;
    letter-spacing: 1.5px;
}

.col_img {
    box-shadow: 10px 10px 20px #F3CAC6;
    border-radius: 3.5px;
}

.row_h3 {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    color:  rgba(0, 0, 0, 0.5);
    font-size: 30px;
    letter-spacing: 3px;
}

.row_vid {
    width: 60%;
    margin-left: 19.5%;
    margin-top: 3%;
}

.overlap {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    height: 30vh;
    position: relative;
}

.overlap_h3 {
    font-size: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;  
}

.overlap_img {
    position: absolute;
    top: 50%;
    left: 37%;
    z-index: 1;
    box-shadow: 10px 10px 300px #F3CAC6;
}

.overlap_img_2 {
    position: absolute;
    top: 100%;
    left: 15%;
    z-index: 0;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    margin-bottom: 20%;
    transition: .7s ease-in;
}

.overlap_img_2:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlap_2{
    width: 100%;
    text-align: center;
    margin-top: 25%;
    height: 30vh;
    position: relative;
}

.overlap_2_img {
    position: absolute;
    top: 50%;
    left: 55%;
    z-index: 1;
    box-shadow: 10px 10px 300px #F3CAC6;
    transition: .7s ease-in;
}

.overlap_2_img_2 {
    position: absolute;
    top: 100%;
    left: 35%;
    z-index: 0;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    margin-bottom: 20%;
    transition: .7s ease-in;
}

.overlap_2_img_2:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.coming_soon {
    width: 100%;
    text-align: center;
    margin-top: 40%;
}

.coming_soon h3 {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

#section3 {
    position: relative;
}
.sticky_img {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 1;
    border-radius: 3.5px;
    filter: hue-rotate(311deg);
    opacity: 0.9;
}

.magazine {
    width: 100%;
    position: relative;
    margin-top: 40%;
    text-align: center;
}
.magazine_img1 {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 1;
/*    opacity: 0.9; */
}

.magazine_img2 {
    position: absolute;
    top: 70%;
    left: 30%;
    z-index: 2;
/*    opacity: 0.8; */
}

.magazine_img3 {
    position: absolute;
    top: 40%;
    left: 60%;
    z-index: 3;
/*    opacity: 0.7; */ 
}

.anchor {
    position: relative;
    width: 100%;
    margin-top: -5%;
}

.fa-location-arrow {
    position: absolute;
    left: 93.33%;
    color: rgba(0, 0, 0, 0.5);
    background-color: #F3CAC6;
    border-top-left-radius: 70px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 40px;
    padding-top: 10px;
    padding-left: 5.1px;
    padding-right: 4px;
    padding-bottom: 2px;
    transform: rotate(-45deg);
    transition: .5s ease-in-out;
}

.fa-location-arrow:hover {
    color: rgba(0, 0, 0, 0.8);
}
